<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.val.miswebsfavoritas">

    <!-- DECLARO LOS PERMISOS QUE NECESITA MI APP -->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MisWebsFavoritas"
        tools:targetApi="31">
        <activity
            android:name=".ActividadWeb"
            android:exported="true"><!-- con exported a true, Android puede buscar mi actividad (intent filter) a false no (la hago privada)-->
<!--            vamos a modificar los intent filter de esta actividad, para
que cuando vaya a lanzarse el intent implícito: quiero ver, una web
esta activdad, surja como candidata alternativa al navegador
COn esto le digo: ANDROID, esta actividad, es capaz
de abrir todas esas páginas web
-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="https" android:host="www.marca.com" />
                <data android:scheme="https" android:host="www.as.com" />
                <data android:scheme="https" android:host="www.linkedin.com" />
                <data android:scheme="https" android:host="www.soloboxeo.com" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="https" android:host="www.libertaddigital.com" android:path="/chic/" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="https" android:host="www.elespanol.com" android:path="/jaleos/" />

            </intent-filter>


        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>